spiel.txt
up.sh

/assets/2d-pixel-art-evil-monster-sprites/PSD
/assets/10-magic-effects-pixel-art-pack/Magic_Effects.psd
/assets/animated-traps-and-obstacles-pixel-art/Traps.psd
/assets/assassin-mage-viking-free-pixel-art-game-heroes/PSD
/assets/bosses-pixel-art-game-assets-pack/PSD
/assets/castle-platformer-pixel-art-tileset/PSD
/assets/dungeon-platformer-pixel-art-tileset/PSD
/assets/dungeon-platformer-pixel-art-tileset-2/PSD
/assets/fantasy-character-avatar-icons-pixel-art/icons.psd
/assets/fantasy-platformer-game-ui/PSD
/assets/fire-monster-game-sprites-pixel-art/PSD
/assets/food-icons-pixel-art/food.psd
/assets/ingredient-icons-pixel-art/alchemy.psd
/assets/mountain-monsters-pixel-art-pack/PSD
/assets/mountain-platformer-pixel-art-tileset/PSD
/assets/pixel-art-characters-for-platformer-games/PSD
/assets/pixel-art-fantasy-game-main-heroes/PSD
/assets/pixel-art-forest-platformer-tileset/PSD
/assets/pixel-art-magic-sprite-effects-and-icons-pack/Magic_Effects.psd
/assets/pixel-art-monster-enemy-game-sprites/PSD/
/assets/potion-icons-pixel-art/potions.psd
/assets/rpg-monster-sprites-pixel-art/PSD
/assets/treasure-icons-pixel-art/Chests_keys_tresures.psd
/assets/avas/Source_PSD