spiel.txt
up.sh

assets/10-magic-effects-pixel-art-pack/Magic_Effects.psd
assets/animated-traps-and-obstacles-pixel-art/Traps.psd
assets/fantasy-character-avatar-icons-pixel-art/icons.psd
assets/food-icons-pixel-art/food.psd
assets/ingredient-icons-pixel-art/alchemy.psd
assets/pixel-art-magic-sprite-effects-and-icons-pack/Magic_Effects.psd
assets/potion-icons-pixel-art/potions.psd
assets/treasure-icons-pixel-art/Chests_keys_tresures.psd