* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
  background-image: url('assets/fantasy-platformer-game-ui/PNG/01main/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Uncial Antiqua', serif;
}
canvas {
  background-color: #000;
  display: block;
}

#fullscreen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#fullscreen:fullscreen {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/fantasy-platformer-game-ui/PNG/01main/bg.png');
  background-size: cover;
  background-position: center;
  justify-content: center;
}

#fullscreenBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}

#fullscreenBtn:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

#fullscreenBtn img {
  display: block;
  user-select: none;
}

@font-face {
  font-display: swap;
  font-family: 'Uncial Antiqua';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/UncialAntiqua-Regular.ttf') format('woff2');
}

h1 {
  font-size: 64px;
  letter-spacing: 3px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.icon-text {
  font-size: 52px;
}

/* Smartphone */
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  #fullscreen {
    transform: rotate(90deg);
    transform-origin: center center;
  }
}

/* Smartphone */
@media only screen and (max-height: 480px) {
  canvas {
    height: 100dvh;
  }

  h1 {
    display: none;
  }

  #fullscreen {
    transform: rotate(0deg);
  }
}



@media (min-width: 750px) {

}